* {
  margin: 0;
  padding: 0;
}

.Container {
  width: 430px;
  margin: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  margin: 150px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header img {
  width: 350px;
  height: 150px;
}

.Search-block {
  margin-top: 35px;
}

.Search-block .Search-bar {
  width: 300px;
  padding: 7.5px;
}

.Search-block .Search-submit {
  padding: 5px;
  margin-left: 15px;
}

.Weather-result {
  border: 0.2rem solid #333;
  border-radius: 5px;
  padding: 20px;
  font-size: 0.8rem;
}

.Weather-result h2 {
  font-size: 0.9rem;
  font-weight: 500;
}

.Current-information {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Current-information .Weather-icon {
  display: flex;
  flex-direction: column;
}
.Current-information .Weather-degree-info {
  font-size: 1.7rem;
  font-weight: 500;
}
.Current-information .Weather-additional-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Sunrise-info,
.Sunset-info,
.Wind-info {
  padding: 2px 0;
}

.Weather-icon h2 {
  font-size: 0.9rem;
  font-weight: 500;
}

.Daily-forecast {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Error-message {
  font-size: 1.2rem;
  padding: 12px;
  border: 0.2rem solid #ff0000;
  border-radius: 5px;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
