* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol,
ul {
  list-style: none;
}

.container {
  width: 430px;
  margin: auto;
}

.search-block {
  margin-top: 35px;
}

.search-block .search-bar {
  width: 300px;
  padding: 7.5px;
}

.search-block .search-submit {
  padding: 5px;
  margin-left: 15px;
}

.weather-result {
  border: 0.2rem solid #333;
  border-radius: 5px;
  padding: 20px;
  font-size: 0.8rem;
}

.weather-result h2 {
  font-size: 0.9rem;
  font-weight: 500;
}

.current-information {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.current-information .weather-icon-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.current-information .weather-degree-info {
  font-size: 1.7rem;
  font-weight: 500;
}
.current-information .weather-additional-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sunrise-info,
.sunset-info,
.wind-info {
  padding: 2px 0;
}

.weather-icon-container h2 {
  position: absolute;
  top: 80px;
  left: 30px;
  font-size: 0.9rem;
  font-weight: 500;
}

.daily-forecast {
  margin: 25px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forecast-card h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.error-message {
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  border: 0.2rem solid #333;
  border-radius: 5px;
}
